* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header {
	font-size: 28px;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: 20px;
	text-align: center;
	color: #000000;
}

.content {
	background-color: #999999;
	margin: 10px;
	border: 1px solid black;
}

p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 7px;
	color: #000000;
}

/*****DESKTOP version*****/
@media (min-width: 992px) {
	.container {
		float: left;
	}

	.col-lg-4 {
		width: 33.33%;
	}
}
/*****TABLET version*****/
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}
}

#title1 {
	background-color: #D59898;
	font-size: 20px;
	color: #000000;
	padding: 3px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	width: 33%;
	position: relative;
	left: 67%;
}

#title2 {
	background-color: #C14543;
	font-size: 20px;
	color: #000000;
	padding: 3px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	width: 33%;
	position: relative;
	left: 67%;
}

#title3 {
	background-color: #E5D198;
	font-size: 20px;
	color: #000000;
	padding: 3px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	width: 33%;
	position: relative;
	left: 67%;
}